 /* Dropdown nappi */
 .dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdownnin kontentti (automaattises hidden) */
  .content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* contentin - napit */
  .content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /*Hoverlla show, värimuutos ja vähän bg colour muutosta*/*/
  .content button:hover {background-color: #ddd;}
  .dropdown:hover .content {display: block;}
  .dropdown:hover .dropbtn {background-color: #3e8e41;} 